include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erpnext_foxycart_integration *.css
recursive-include erpnext_foxycart_integration *.csv
recursive-include erpnext_foxycart_integration *.html
recursive-include erpnext_foxycart_integration *.ico
recursive-include erpnext_foxycart_integration *.js
recursive-include erpnext_foxycart_integration *.json
recursive-include erpnext_foxycart_integration *.md
recursive-include erpnext_foxycart_integration *.png
recursive-include erpnext_foxycart_integration *.py
recursive-include erpnext_foxycart_integration *.svg
recursive-include erpnext_foxycart_integration *.txt
recursive-exclude erpnext_foxycart_integration *.pyc